# Qt / CMake build files
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Qt Creator settings
*.user
*.user.*
.idea/
.vscode/

# Compiled binaries
*.exe
*.o
*.obj
*.so
*.dll
*.a
*.lib

# Backup / Temp files
*~
*.autosave
*.log

# macOS and Windows noise
.DS_Store
Thumbs.db

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

